@import "bootstrap/bootstrap";
//////////////////////////////////////////
.dropdown-submenu {
  position:relative;
}

.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}

.dropdown-submenu
.pull-left {
  float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

//

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2B85FD;
}

.dropdown-menu > li > a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: normal;
}

.main-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
  width: 100%;
  min-width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.main-menu li + li {
  border-top: solid 1px #E7E4E4;
}

.main-menu-submenu {
  margin-top: -1px !important;
  margin-left: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px 4px 4px 0px !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  min-width: 200px;
}

// Navbar
.navbar-main {
  background-color: #000030;
  border-radius: 0;
}

.navbar-main a {
  color: #f5f5f5;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.28);
  background-image: none;
  border: 1px solid rgba(200, 200, 200, 0.13);
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #f5f5f5;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
  background-color: #f5f5f5;
}

.navbar-main .nav > li > a:hover, .navbar-main .nav > li > a:focus {
  text-decoration: none;
  background-color: #003588;
}

.dropzone {
  min-height: 150px;
  border: 3px dotted rgba(20, 41, 253, 1) !important;
  background: white;
  padding: 20px 20px;
}

#footer-text {
  text-align: center;
  color: #828282;
}

// Footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  background-color: #f5f5f5;
}

.emp-grid .col-xs-3 {
  padding-bottom: 10px;
}

.emp {
  position: relative;
}

.emp-info {
  color: #f5f5f5;
  position: absolute;
  z-index: 10;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: auto;
  min-width: 93%;
  height: 20%;
  bottom: 0;
  overflow: hidden;
  margin: 5px;
  font-size: 9pt;
  text-align: center;
}

.icon-arrow-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}

.label-as-badge {
  border-radius: 1em;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #3F4CA1;
  border-color: #337ab7;
}

.top-menu {
  min-width: 200px !important;
  white-space: nowrap !important;
}

// Typeahead.js

.tt-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}
.tt-suggestion:hover {
  background: #0097cf;
  color: #ffffff;
  cursor: pointer;
}
.tt-suggestion pre:hover {
  cursor: pointer;
}
.tt-selectable:hover {
  background: #0097cf;
  color: #ffffff;
}

#remote span.twitter-typeahead {
  width: 100% !important;
}